/*Site usado para pegar as cores usadas aqui: https://html-color-codes.info/Codigos-de-Cores-HTML/ */

body {
    background: #E6E6E6;
    /*background: 4ª cor da coluna 25 (cinza)*/
    text-align: center;
}

.conteudo {
    background-color: #D8D8D8;
    /*background-color: 5ª cor da coluna 25 (cinza)*/
    box-shadow: 4px 4px 0px 0px #BDBDBD;
    /*box-shadow: 6ª cor da coluna 25 (cinza)*/
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.avisolateral {
    background-color: #F6CECE;
    /*background-color: 3ª cor da coluna 01 (vermelho)*/
    box-shadow: 4px 4px 0px 0px #F5A9A9;
    /*box-shadow: 4ª cor da coluna 01 (vermelho)*/
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}

#titulo {
    background-color: #D8D8D8;
    /*background-color: 5ª cor da coluna 25 (cinza)*/
    box-shadow: 4px 4px 0px 0px #BDBDBD;
    /*box-shadow: 6ª cor da coluna 25 (cinza)*/
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7.5px;
    border-radius: 20px;
}

.buton {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px 10px;
    text-decoration: none;
    background-color: #F7F8E0;
    /*background-color: 2ª cor da coluna 5 (amarelo)*/
    box-shadow: inset 0px 1px 0px 0px #F5F6CE;
    /*box-shadow: 3ª cor da coluna 5 (amarelo)*/
    text-shadow: 0px 1px 0px #F5F6CE;
    /*text-shadow: 3ª cor da coluna 5 (amarelo)*/
    color: black;
}

.contato {
    color: #424242;
    /*color: 11ª cor da coluna 25 (cinza)*/
}

.dindin {
    color: #424242;
    /*color: 11ª cor da coluna 25 (cinza)*/
}

a:hover {
    background: #E0F8F7;
    /*background: 2ª cor da coluna 13 (azul claro)*/
}

#anuncio {
    background-color: #D8D8D8;
    /*background-color: 5ª cor da coluna 25 (cinza)*/
    box-shadow: 4px 4px 0px 0px #BDBDBD;
    /*box-shadow: 6ª cor da coluna 25 (cinza)*/
    width: 300px;
    margin-left: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    float: inline-start;
    position: fixed;
}

#anuncio2 {
    background-color: #D8D8D8;
    /*background-color: 5ª cor da coluna 25 (cinza)*/
    box-shadow: 4px 4px 0px 0px #BDBDBD;
    /*box-shadow: 6ª cor da coluna 25 (cinza)*/
    width: 300px;
    margin-right: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    float: inline-end;
    position: fixed;
}

img {
    width: 80%;
}
